<div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
    <button class="dropdown-button"> Products </button>
    <div class="dropdown-menu" *ngIf="dropdownVisible">
        <a class="box" routerLink="#" (click)="hideDropdown()"> Retirement & IRAs </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Spending & Savings </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Investing & Trading </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Mutual Funds </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Crypto </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Direct Indexing </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Fixed Income, Bonds & CDs  </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> ETFs </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Options </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Sustainable Investing </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Managed Accounts </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> 529 College Savings </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Health Savings Accounts </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Annuities </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Life Insurance </a>
    </div>
</div>