<div class="wrapper">
    <div class="row gap-1 modules"> 
        <a class="fidelitylogo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"> Fidelity Clone </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> CUSTOMER SERVICE </a>
        <a class=            " item" routerLink="/profile" routerLinkActive="active"> PROFILE </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> OPEN AN ACCOUNT </a>
        <a class=            " item" routerLink="/virtual-assistant" routerLinkActive="active"> VIRTUAL ASSISTANT </a>
    </div>
</div>
