<div class="wrapper">
    <div class="row gap-1 modules"> 
        <a class="fidelitylogo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"> Fidelity Clone </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> CUSTOMER SERVICE </a>
        <a class=            " item" routerLink="/profile" routerLinkActive="active"> PROFILE </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> OPEN AN ACCOUNT </a>
        <a class=            " item" routerLink="/virtual-assistant" routerLinkActive="active"> VIRTUAL ASSISTANT </a>
    </div>
</div>

<div class="container-for-dropdowns">
    <div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <button class="dropdown-button">Accounts & Trade </button>
        <div class="dropdown-menu" *ngIf="dropdownVisible">
            <a class="box" routerLink="#"> Portfolio </a>
            <a class="box" routerLink="#"> Account Positions </a>
            <a class="box" routerLink="trade"> Trade </a>
            <a class="box" routerLink="#"> Trading Dashboard </a>
            <a class="box" routerLink="#"> Active Trader Pro </a>
            <a class="box" routerLink="#"> Transfer </a>
            <a class="box" routerLink="#"> Cash Management </a>
            <a class="box" routerLink="#"> Bill Pay </a>
            <a class="box" routerLink="#"> Full View </a>
            <a class="box" routerLink="#"> Security Settings </a>
            <a class="box" routerLink="#"> Account Features </a>
            <a class="box" routerLink="#"> Documents </a>
            <a class="box" routerLink="#"> Tax Forms & Information </a>
            <a class="box" routerLink="#"> Refer a Friend </a>
        </div>
    </div>

    <div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <button class="dropdown-button">Planning & Advice </button>
        <div class="dropdown-menu" *ngIf="dropdownVisible">
            <a class="box" routerLink="#"> What We Offer </a>
            <a class="box" routerLink="#"> Build Your Free Plan </a>
            <a class="box" routerLink="#"> My Goals </a>
            <a class="box" routerLink="#"> Financial Basics </a>
            <a class="box" routerLink="#"> Building Savings </a>
            <a class="box" routerLink="#"> Robo Investing Plus Advice </a>
            <a class="box" routerLink="#"> Wealth Management </a>
            <a class="box" routerLink="#"> Find an advisor </a>
            <a class="box" routerLink="#"> Retirement </a>
            <a class="box" routerLink="#"> Life Events </a>
            <a class="box" routerLink="#"> Savings & Investing for a Child</a>
            <a class="box" routerLink="#"> Charitable Giving </a>
            <a class="box" routerLink="#"> Life Insurance & Long Term Care Planning </a> 
        </div>
    </div>

    <div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <button class="dropdown-button">News & Research </button>
        <div class="dropdown-menu" *ngIf="dropdownVisible">
            <a class="box" routerLink="#"> News </a>
            <a class="box" routerLink="#"> Wealth Management Insights </a>
            <a class="box" routerLink="#"> Watchlist </a>
            <a class="box" routerLink="#"> Quotes </a>
            <a class="box" routerLink="#"> Alerts </a>
            <a class="box" routerLink="#"> Mutual Funds </a>
            <a class="box" routerLink="#"> Stocks </a>
            <a class="box" routerLink="#"> Crypto </a>
            <a class="box" routerLink="#"> Fixed Income, Bonds & CDs </a>
            <a class="box" routerLink="#"> ETFs </a>
            <a class="box" routerLink="#"> Options </a>
            <a class="box" routerLink="#"> Market & Sectors </a>
            <a class="box" routerLink="#"> IPOs </a>
            <a class="box" routerLink="#"> Annuities </a>
            <a class="box" routerLink="#"> Learn </a>
        </div>
    </div>

    <div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <button class="dropdown-button"> Products </button>
        <div class="dropdown-menu" *ngIf="dropdownVisible">
            <a class="box" routerLink="#"> Retirement & IRAs </a>
            <a class="box" routerLink="#"> Spending & Savings </a>
            <a class="box" routerLink="#"> Investing & Trading </a>
            <a class="box" routerLink="#"> Mutual Funds </a>
            <a class="box" routerLink="#"> Crypto </a>
            <a class="box" routerLink="#"> Direct Indexing </a>
            <a class="box" routerLink="#"> Fixed Income, Bonds & CDs  </a>
            <a class="box" routerLink="#"> ETFs </a>
            <a class="box" routerLink="#"> Options </a>
            <a class="box" routerLink="#"> Sustainable Investing </a>
            <a class="box" routerLink="#"> Managed Accounts </a>
            <a class="box" routerLink="#"> 529 College Savings </a>
            <a class="box" routerLink="#"> Health Savings Accounts </a>
            <a class="box" routerLink="#"> Annuities </a>
            <a class="box" routerLink="#"> Life Insurance </a>
        </div>
    </div>

    <div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <button class="dropdown-button"> Why Fidelity </button>
        <div class="dropdown-menu" *ngIf="dropdownVisible">
            <a class="box" routerLink="#"> The Fidelity Advantage </a>
            <a class="box" routerLink="#"> Planning & Advice </a>
            <a class="box" routerLink="#"> Trading </a>
            <a class="box" routerLink="#"> Straightforward Pricing </a>
            <a class="box" routerLink="#"> Insights & Tools </a>
            <a class="box" routerLink="#"> Security & Protection </a>
            <a class="box" routerLink="#"> FDIC & SIPC Coverage </a>
            <a class="box" routerLink="#"> Marketplace Solutions </a>
            <a class="box" routerLink="#"> About Fidelity</a>
            <a class="box" routerLink="#"> Careers </a>
        </div>
    </div>
</div>