<div class="wrapper">
    <div class="row gap-1 modules"> 
        <a class="fidelitylogo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions] = "{exact: true}"> Fidelity Clone </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> CUSTOMER SERVICE </a>
        <a class=            " item" routerLink="/profile" routerLinkActive="active"> PROFILE </a>
        <a class=            " item" routerLink="/customer-service" routerLinkActive="active"> OPEN AN ACCOUNT </a>
        <a class=            " item" routerLink="/virtual-assistant" routerLinkActive="active"> VIRTUAL ASSISTANT </a>
    </div>
</div>

<div class="container-for-dropdowns">
    <div class="dropdown-container">
        <app-account-and-trade></app-account-and-trade>
    </div>
    
    <div class="dropdown-container">
        <app-planning-and-advice></app-planning-and-advice>
    </div>

    <div class="dropdown-container">
        <app-news-and-research></app-news-and-research>
    </div>
    
    <div class="dropdown-container">
        <app-products></app-products>
    </div>
    
    <div class="dropdown-container">
        <app-why-fidelity></app-why-fidelity>
    </div>
</div>