<div class="trade-banner">
    <p> Trade </p>
</div>

<div class="trade-banner">
    <select name="Trade">
        <option> Stocks/ETFs  </option>
        <option> Options      </option>
        <option> Mutual Funds </option>
        <option> Crypto       </option>
        <option> Fixed Income </option>
        <option> Conditional  </option>
        <option> Baskets      </option>
    </select>
    <select name="Select an account">
        <option> Select an account  </option>
        <option> Account 1      </option>
        <option> Account 2 </option>
    </select>
</div>


<div class="trade-banner">
    <input type="search" id="search" name="search" placeholder="Search">
    <input type="submit" value="Search">
</div>


<div class="trade-banner">
    <select name="Trade">
        <option> Action  </option>
        <option> Buy      </option>
        <option> Sell </option>
    </select>

    <input type="search" id="search" name="search" placeholder="Quantity">
    <input type="submit" value="Search">

    <select name="Order type">
        <option> Order type  </option>
        <option> Buy      </option>
        <option> Sell </option>
    </select>

    <br/>
    <select name="Trade">
        <option> Day  </option>
        <option> Buy      </option>
        <option> Sell </option>
    </select>

</div>
