<div class="trade-banner">
  <p>Trade</p>
</div>

<div class="trade-banner">
  <p-dropdown
    [options]="investmentOptions"
    [(ngModel)] = "selectedInvestmentOption"
    optionLabel="type"
    placeholder="Stocks/ETFs"
  ></p-dropdown>

  <p-dropdown
    [options]="accountOptions"
    [(ngModel)]="selectedAccountOption"
    optionLabel="accountName"
    placeholder="Select an account"
  ></p-dropdown>
</div>

<div class="trade-banner">
  <p-autoComplete
    [(ngModel)]="tickerSymbolInput"
    [suggestions]="tickerSymbolList"
    (completeMethod)="search($event)"
  ></p-autoComplete>
</div>

<div class="action-quantity-order-day">
  <div class="trade-subbanner">
    <!-- Rounded switch -->
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>

      <div class="switch-text">
        Extended hours trading: {{ isExtendedTradingHours() }}
        <div class="trading-deadlines">Until 9:28 AM EST</div>
      </div>
    </label>
  </div>

  <div class="trade-subbanner">
    <p-dropdown
      [(ngModel)]="selectedSecurityTradingOption"
      [options] = "securityTradingOptions"
      optionLabel="type"
      placeholder="Actions"
    ></p-dropdown>

    <input type="search" id="search" name="search" placeholder="Quantity" />

    <p-dropdown
      [(ngModel)]="selectedSecurityOrderType"
      [options]="securityOrderTypes"
      optionLabel="type"
      placeholder="Order type"
      class="order-type-dropdown"
    ></p-dropdown>

  </div>

  <div class="trade-subbanner">
    <p-dropdown
      [(ngModel)]="selectedExpirationType"
      [options]="expirationTypes"
      optionLabel="expiration"
      placeholder="Effective Until"
      class="effective-until-dropdown"
    ></p-dropdown>
  </div>
</div>

<div class="estimated-order">
  <p>Estimated order value, including commission:</p>

  <div class="order-due">
    <p>${{ orderDue }}</p>
  </div>

  <section>
    <button mat-raised-button class="custom-button">Preview order</button>
  </section>
</div>
