.trade-banner {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    align-items: center; /* Vertically center */
    border-bottom: 1px solid #899092;

    p {
        padding: 10px;
        font-size: 25px;
    }
}

select {
    width: 200px;
    height: 40px;
    margin-right: 5px;
}

select option {
    width: 100%;
    height: 100%;
}


select option:hover {
    background-color: 120120120
}
