<div class="trade-banner">
  <p>Trade</p>
</div>

<div class="trade-banner">
  <select name="Trade">
    <option>Stocks/ETFs</option>
    <option>Options</option>
    <option>Mutual Funds</option>
    <option>Crypto</option>
    <option>Fixed Income</option>
    <option>Conditional</option>
    <option>Baskets</option>
  </select>
  <select name="Select an account">
    <option>Select an account</option>
    <option>Account 1</option>
    <option>Account 2</option>
  </select>
</div>

<div class="trade-banner">
  <input type="search" id="search" name="search" placeholder="Symbol" />
</div>

<div class="trade-banner">
  <select name="Action">
    <option>Action</option>
    <option>Buy</option>
    <option>Sell</option>
  </select>

  <input type="search" id="search" name="search" placeholder="Quantity" />

  <select name="Order type">
    <option>Order type</option>
    <option>Market</option>
    <option>Limit</option>
    <option>Conditional</option>
    <option>Stop Loss</option>
    <option>Stop Limit</option>
    <option>Trailing Stop Loss ($)</option>
    <option>Trailing Stop Loss (%)</option>
    <option>Trailing Stop Limit ($)</option>
    <option>Trailing Stop Limit (%)</option>
  </select>

  <select name="Effective Until">
    <option>Day</option>
    <option>Good til</option>
    <option>Canceled</option>
    <option>Fill or Kill</option>
    <option>Immediate or Cancel</option>
    <option>On the Open</option>
    <option>On the Close</option>
  </select>
</div>

<div class="estimated-order">
  <p>Estimated order value, including commission:</p>

  <div class="order-due">
    <p>${{ orderDue }}</p>
  </div>

  <section>
    <button mat-raised-button class="custom-button">Preview order</button>
  </section>
</div>

  <!-- Rounded switch -->
<label class="switch">
  <input type="checkbox" />
  <span class="slider round"></span>
  
    <div class="switch-text">
      Extended hours trading: {{ isExtendedTradingHours() }} 
      <div class="trading-deadlines">
        Until 9:28 AM EST
      </div>
    </div>


</label>
