<div (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
    <button class="dropdown-button"> Why Fidelity </button>
    <div class="dropdown-menu" *ngIf="dropdownVisible">
        <a class="box" routerLink="#" (click)="hideDropdown()"> The Fidelity Advantage </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Planning & Advice </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Trading </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Straightforward Pricing </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Insights & Tools </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Security & Protection </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> FDIC & SIPC Coverage </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Marketplace Solutions </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> About Fidelity</a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Careers </a>
    </div>
</div>