<div class="dropdown-container" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
    <button class="dropdown-button">Planning & Advice </button>
    <div class="dropdown-menu" *ngIf="dropdownVisible">
        <a class="box" routerLink="#" (click)="hideDropdown()"> What We Offer </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Build Your Free Plan </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> My Goals </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Financial Basics </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Building Savings </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Robo Investing Plus Advice </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Wealth Management </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Find an advisor </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Retirement </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Life Events </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Savings & Investing for a Child</a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Charitable Giving </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Life Insurance & Long Term Care Planning </a> 
    </div>
</div>