<div (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
    <button class="dropdown-button">News & Research </button>
    <div class="dropdown-menu" *ngIf="dropdownVisible">
        <a class="box" routerLink="#" (click)="hideDropdown()"> News </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Wealth Management Insights </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Watchlist </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Quotes </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Alerts </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Mutual Funds </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Stocks </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Crypto </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Fixed Income, Bonds & CDs </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> ETFs </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Options </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Market & Sectors </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> IPOs </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Annuities </a>
        <a class="box" routerLink="#" (click)="hideDropdown()"> Learn </a>
    </div>
</div>